<template>
    <div class="hello">
        <p id="test"></p>
        <div class="card-deck">
            <Card :src="champ[0]" :name="nameChamp[0]" />
            <Card :src="champ[1]" :name="nameChamp[1]"/>
            <Card :src="champ[2]" :name="nameChamp[2]" />
            <Card :src="champ[3]" :name="nameChamp[3]"/>
            <Card :src="champ[4]" :name="nameChamp[4]" />
            <Card :src="champ[5]" :name="nameChamp[5]"/>
        </div>
    </div>
</template>

<script>
import Card from "./Card";
export default {
  name: "Plateau",
  components: { Card },
  props: {
    msg: String,
    champ: Array,
      nameChamp: String
  },
    created: function() {
      this.diffChamp();
    },
    methods: {
        diffChamp :function(){
            this.nameChamp1 = this._props.champ[0].name+"_0.jpg";
            for(let i = 0; i<this.champ.length;i++) {
                console.log(this.props.champ[i].name);
            }
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
