<template>
  <div id="app">
      <Plateau :champ="chosenChampSrc" :nameChamp="chosenChampName"/>
</div>
</template>

<script>
import Plateau from "@/components/Plateau.vue";

export default {
  name: "app",
  components: {
    Plateau
  },
  data: () => {
    return {
      champions: [],
      chosenChamps:[],
      loaded: false,
        chosenChampSrc:[],
        chosenChampName:[]
    };
  },
  created: function() {
    this.getChampions();
  },
  watch: {},
  methods: {
    getChampions: function() {
      fetch("champions.json")
        .then(response => response.json())
        .then(response => {
          for (let champion in response.data) {
            this.champions.push(response.data[champion]);
          }
          this.loaded = true;
          this.getThree();
        });
    },
    getThree: function() {
        this.chosenChamps = [this.champions[Math.floor(Math.random()*this.champions.length)],
          this.champions[Math.floor(Math.random()*this.champions.length)],
          this.champions[Math.floor(Math.random()*this.champions.length)]];
        for(let i = 0;i<this.chosenChamps.length;i++) {
            this.chosenChampSrc.push(this.chosenChamps[i].name+"_0.jpg");
            this.chosenChampSrc.push(this.chosenChamps[i].name+"_1.jpg");
        }
        for(let i = 0;i<this.chosenChamps.length;i++) {
            this.chosenChampName.push(this.chosenChamps[i].name);
            this.chosenChampName.push(this.chosenChamps[i].name);
        }
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
